{% extends "core/base.html" %}

{% block contenido %}
<div class="container">
    <div class="card">
        <h2>¿Estás segura?</h2>
        <p>Estás a punto de borrar el post: <strong>"{{ object.titulo }}"</strong>. Esta acción no se puede deshacer.</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn--danger">borrar</button>
            <a href="{% url 'post_list' %}" class="btn btn--ghost">No, cancelar</a>
        </form>
    </div>
</div>
{% endblock %}