{% extends "core/base.html" %}

{% block contenido %}
<div class="container">
    <div class="card card--detail">
        <a href="{% url 'equipo_list' %}">← Volver a la lista</a>
        <h1>{{ object.nombre }}</h1>
        <hr>
        {% if object.escudo %}
            <img src="{{ object.escudo.url }}" alt="Escudo">
        {% endif %}
        <p><strong>Vicrorias:</strong> {{ object.victorias }}</p>
        <p><strong>Año de Fundación:</strong> {{ object.año_fundacion }}</p>
        
        <div style="margin-top: 20px;">
        <a href="{% url 'equipo_update' object.id %}" class="btn">Editar</a>
        <a href="{% url 'equipo_delete' object.id %}" class="btn btn--danger">Borrar</a>
        </div>
    </div>
</div>
{% endblock %}